

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
width: 50%;
padding: 5px;
    
 
    margin: 0 auto;

}
.gallery-item {
  flex-basis: 32.7%;
margin-bottom: 22px;
opacity: .85;
cursor: pointer;
border: 5px solid;
box-shadow: 5px 6px #19ffd4;
margin-right: -30px;
}
.gallery-item:hover {
    opacity: 1;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-content {
    font-size: .8em;
}

.lightbox {
   position: fixed;
display: none;

width: 50%;
overflow: auto;
top: 45px;
left: 376px;

}

.title{
        font-family: Nunito, sans-serif;
   text-align: center;
   margin-bottom: 45px;

}

.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 15% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    box-shadow: 6px 9px #19ffd4;
    object-fit: cover;
}
.lightbox-prev{
     position: absolute;
    background-color:rgba(206, 206, 206, 0.842);
   
    color: rgb(0, 0, 0);
    padding: 15px;
    top: 45%;
 
    cursor: pointer;
    background-repeat: no-repeat;
}
.lightbox-next {
    position: absolute;
    background-color: rgba(206, 206, 206, 0.842);
   
    color: rgb(0, 0, 0);
    padding: 15px;
    top: 45%;
    
    cursor: pointer;
    background-repeat: no-repeat;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}


@media (max-width: 767px) {
    .gallery-container {
        width: 90%;
        padding: 4px;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 10px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}